aiogram==2.23.1
aiohttp==3.8.3
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.1.0
Babel==2.9.1
Brotli==1.0.9
CacheControl==0.12.11
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
crypto==1.4.1
cryptography==38.0.1
dash==2.6.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Deprecated==1.2.13
dnspython==2.2.1
dominate==2.7.0
environs==9.5.0
firebase-admin==5.4.0
Flask==2.2.2
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.13
flask-googlemaps==0.4.1
Flask-SQLAlchemy==3.0.2
frozenlist==1.3.3
gcloud==0.18.3
ghp-import==2.1.0
google-api-core==2.10.1
google-api-python-client==2.63.0
google-auth==2.12.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.7.0
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-resumable-media==2.4.0
googleapis-common-protos==1.56.4
greenlet==2.0.1
grpcio==1.49.1
grpcio-status==1.49.1
htmlmin==0.1.12
httplib2==0.20.4
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jsmin==3.0.1
jwcrypto==1.4.2
magic-filter==1.0.9
Markdown==3.3.7
MarkupSafe==2.1.1
marshmallow==3.18.0
mergedeep==1.3.4
mkdocs==1.4.0
mkdocs-material==5.5.14
mkdocs-material-extensions==1.0.3
mkdocs-minify-plugin==0.3.0
motor==3.1.1
msgpack==1.0.4
multidict==6.0.2
Naked==0.1.31
nano==0.10.0
oauth2client==4.1.3
packaging==21.3
plotly==5.10.0
proto-plus==1.22.1
protobuf==4.21.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.15.0
Pygments==2.13.0
pymdown-extensions==9.6
pymongo==4.3.2
pyparsing==3.0.9
Pyrebase4==4.5.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python-jwt==4.0.0
pytz==2022.6
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.28.1
requests-toolbelt==0.9.1
rsa==4.9
shellescape==3.8.1
six==1.16.0
SQLAlchemy==1.4.44
tenacity==8.1.0
uritemplate==4.1.1
urllib3==1.26.12
visitor==0.1.3
watchdog==2.1.9
Werkzeug==2.2.2
wrapt==1.14.1
yarl==1.8.1
Flask-Login==0.6.2
Flask-LoginManager==1.1.6